

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.navbar-header{
    height: 80px;
}
.navbar-brand img{
    width: 83px;
    height: 57px;

}
.navbar-fixed-top{
    background-image: none;
    background-color: white;
}














